# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.author }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Lewis Carroll
author: Lewis Carroll
description: Asociación de la Facultad de Matemáticas de la UCM.
baseurl: "/" 
url: "http://lewiscarroll.es"
lang: es
exclude:
  - README.md
  - LICENSE.txt
  - CHANGELOG.md
  - jekyll-whiteglass.gemspec

# Social media
twitter_username: lewiscarrollmat
twitter_image: http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png
facebook_app_id:
facebook_image:
google_analytics:
comments: false

# Plugins
gems:
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from

# Build settings
markdown: kramdown
excerpt_separator: "<!-- more -->"

# Outputting
permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5

# Markdown settings
kramdown:
  auto_ids: false
  enable_coderay: false
  entity_output: as_char
  footnote_nr: 1
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  toc_levels: 1..6

# jekyll-archives
jekyll-archives:
  enabled:
    - categories
  layout: category_archives
  permalinks:
    category: /categories/:name/
