
// Responsive para los videos...
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom:1em;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Responsive para el menú

@media screen and (max-width: 600px){
    .site-nav .page-link {
        float: left;
        margin-left: 0px;
        padding:0px 200px 0px 0px;
        line-height: 2em;
        }
}

@media screen and (max-width: 340px){
    .site-nav .page-link {
        padding:0px 65px 0px 0px;
    }
}

@media screen and (max-width: 340px){
    .site-nav .page-link {
        padding:0px 0px 0px 0px;
    }
}
